
  <%- include('partials/header'); -%>

  <div class="mid-container">
    <h1>Compose</h1>
    <form action="/compose" method="POST">
      <div class="form-group"></div>
      <label>Title</label>
      <br>
      <input class="form-control" type="text" name="postTitle">
     <br>
      <label>Post</label>
      <br>
      <textarea class="form-control" rows="5" cols="30" name="post"></textarea>
      <br>
      <button type="submit" name="button" class="btn btn-primary ">Publish</button>
    </div>
   
    </form>
  </div>
  
  <%- include('partials/footer'); -%>

