*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}
html{
  /* font-size: 10px; */
}
body{
    
    height: 100vh;
    width: 100vw;
    background-color:beige;
}
::placeholder { 
    color: red;
    opacity: 1; /* Firefox */
  }

/* ----Navbar--- */
.navbar {
    min-height: 10%;
    font: bolder;
    letter-spacing: 3px;
    background-color: rgb(102, 178, 245);
    /* max-width: 90%; */
    font-size: 1.2rem;
}
.container{
    margin: auto;
    max-width: 80%;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}
.website-text{
    /* margin: auto; */
    /* width: 20%; */
    color: rgb(25, 24, 24);
}
.navbar-nav{
    /* width: 80%; */
    /* margin: auto; */
}
.li-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}
li{
    list-style: none;
}
.navbar-nav li a {
    text-decoration: none;
    color: black;
}
.navbar-nav li a:hover{
    color: #0a00cd;
}

/* ---Body Section--- */
.mid-container{
    max-width: 90%;
    margin: auto;
}
h1{
    margin-top: 1rem;
    font-size: 2.5rem;
    color: #3C4144;
}
h4{
    /* margin-top: 1rem; */
    font-size: 1.2rem;
    color: brown;
}
 
.container-fluid {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

/* ----Contact Section--- */
.outer-div{
    display: flex;
    max-width: 70%;
    justify-content: space-between;
}
.contact-section{
    margin-top: 4rem;
    min-width: 50%;
    padding: 10px 0;
  }
  .contact-section h2{
    text-align: center;
    color: rgb(9, 5, 5);
  }
  .border{
    width: 100px;
    height: 10px;
    background: #0c0e10;
    margin: 10px auto;
  }
  
  .contact-form{
    max-width: 400px;
    margin: auto;
    padding: 5px 10px;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgb(160, 179, 179);
  }
  
  .contact-form-text{
    display: block;
    width: 100%;
    font-size: 0.8rem;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    padding: 20px 20px;
    outline: none;
    color: black;
    background-color: #ffffff;
    transition: 0.5s;
  }
  .contact-form-text:focus{
    box-shadow: 0 0 10px 4px #34495e;
  }
  .contact-form textarea{
    resize: none;
    height: 10px;
  }
  .contact-form-btn{
    float: right;
    border: 0;
    font-weight: bold;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  .contact-form-btn:hover{
    background: #2980b9;
  }
  /* ---Compose Form--- */

label{
    margin-top: 1rem;
    font-size: 24px;
    line-height: 1.42857143;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
  }
  .form-control{
    font-size: 1.3rem;
      min-width: 80%;
      height: 1.4rem;
      padding: 6px 12px;
      border-radius: 4px;
      color: brown;
      border: 2px solid rgba(0, 0, 0, 0.481);
      background-color: rgba(163, 158, 150, 0.35);
  }
  
  form textarea{
    min-height: 8rem;
  }
  
  .btn-primary {
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(61, 118, 166);
    border-color: rgb(62, 107, 148);
  }
  .btn:hover{
    cursor: pointer;
  }
  .navigation-panel {
    color: black;
  }
  

/* ---Footer--- */
.footer-padding {
    min-width: 100vw;
    /* padding: 2rem; */
}

.footer {
    position: fixed;
    bottom: 0;
	text-align: center;
	width: 100vw;
	height: 4rem;
	background-color: #1abc9c;
}

.footer p {
	/* margin-top: 20px; */
    padding: 1.5rem;
    font-size: 1.2rem;
    color: #fff;
}
.form-control{
    max-width: 80%;
    border: 2px solid rgba(0, 0, 0, 0.481);
    background-color: #a9b4b259 ;
}

/* ===Media Query=== */

@media (max-width:400px){
  .outer-div{
    display: flex;
    flex-direction: column;
  }
    .container{
        padding: 1rem 0;
        min-width: 98%;
    }
    .navbar{
      min-width: 100%;
        min-height: 8%;
        letter-spacing: 0px;
        font-size: 0.7rem;
    }   
    .website-text{
        letter-spacing: 2px;
    }
    .li-container{
        display: flex;
        justify-content: center;
        gap: 5px;
    }

    /* ---Contact Section--- */
    .contact-form{
      margin-left: 10%;
    }
    
    .contact-form-text{
      width: 100%;
      margin: 10px 0;
      height: 30px;
      padding: 10px;
    }
    .contact-form textarea{
      height: 10px;
    }
    
    form textarea{
      min-height: 4rem;
    }
    /* ---Body Section--- */
    h1{
        margin-top: 1rem;
        font-size: 2rem;
    }
    h4{
        font-size: 1rem;
        letter-spacing: 1px;
    }
    /* ---Footer--- */
.footer-padding {
    /* padding: 1rem; */
}

.footer {
	height: 3rem;
}

.footer p {
    padding: 0.8rem;
    font-size: 1rem;
}
}